/* class, pesudo, element are the recommended ways */

.external{
    border: 10px solid red;
    height: 200px;
    width: 80%;
    background-color: pink;
    font-weight: 600;
    font-style: italic;
}

.external:hover{
    border: 10px solid red;
    height: 200px;
    width: 80%;
    background-color:purple;
    font-weight: 600;
    font-style: italic;
}

/* div{
    color: var(--lwc-brand-accessible);
    background-color: var(--lwc-color-background-highlight);
} */